# Mobile Application Environment Variables
# Copy this to .env and fill in the appropriate values.

# Sentry
EXPO_PUBLIC_SENTRY_DSN=your_mobile_sentry_dsn
SENTRY_AUTH_TOKEN=your_sentry_auth_token

# APIs
EXPO_PUBLIC_API_URL=http://localhost:3000/api
EXPO_PUBLIC_SOCKET_URL=ws://localhost:3000

# Third-party
EXPO_PUBLIC_PAYSTACK_PUBLIC_KEY=your_paystack_test_public_key
